

<ng-template #noContent>
  <p>No latest content available.</p>
</ng-template>


<div *ngIf="latestContents.length > 0; else noContent">
  <div *ngFor="let content of latestContents" class="latest-content">
<div class="card">
  <img class="card-img-top" src="{{content.imageUrl}}" alt="{{content.name}}">
  <div class="card-body">
    <h5 class="card-title">{{content.name}}</h5>
    <p class="card-text">{{content.description}}</p>
    <small>Posted on: {{ content.createdDate | date }}</small>
  </div>
</div>
