<html>
  <body>

  <div *ngIf="selectedContent && !editContent" class="content-details">
    <div class="content">
      <div class="content-container">
        <img src="{{ selectedContent.imageUrl }}" class="rounded-corners img-hover-effect selected-content-img-size"
          alt="{{ selectedContent.name }}" />
          <h2>Name: {{ selectedContent.name }}</h2>
        <p>Description: {{ selectedContent.description }}</p>
        <p>Category: {{ selectedContent.contentCategory.name }}</p>
        <p>Created By: {{selectedContent.user.username }}</p>
        <small>Posted on: {{ selectedContent.createdDate | date }}</small>
        <br>
     </div>
     </div>
    <br />
    <button class="btn btn-primary" (click)="selectedContent = null">
      Go Back
    </button>
    <hr>
    <div class="content" *ngFor="let comment of allComments | contentComment : selectedContent.id">
      <div class="content-container">
        <h2>{{ comment.user.username }}</h2>
        <img src="{{ comment.user.avatarUrl }}" class="rounded-corners avatar-image"
        alt="{{ selectedContent.name }}" />
        <p>Comment: {{ comment.message }}</p>
        <small>Battle Tag: {{ comment.user.battletag }}</small>
        <small>Posted on: {{ comment.updatedDate | date }}</small>
      </div>
      <button class="btn btn-primary" *ngIf="loggedInUser && comment.user.id === loggedInUser.id" (click)=" setEditComment(comment); openCommentDialog('500ms', '500ms');">Update
        Comment</button>
      <button class="btn btn-danger" *ngIf="loggedInUser && comment.user.id === loggedInUser.id"
        (click)="deleteComment(selectedContent.id, comment.id)">
        Delete Comment
      </button>
    </div>
    <div id="new-comment" *ngIf="!editComment && isLoggedIn() && selectedContent">
      <form class="row g-3">
        <div class="form-group">
          <label for="comment">Comment</label>
          <textarea class="form-control" rows="4" name="message" [(ngModel)]="newComment.message"></textarea>
        </div>
        <button class="btn btn-primary add-comment-btn" (click)="addComment(selectedContent.id, newComment)">
          Add Comment
        </button>
      </form>
      <hr>
    </div>
    <hr/>
  </div>


  <ng-template #noContent>
    <p>No latest content available.</p>
  </ng-template>


  <div *ngIf="latestContents.length > 0; else noContent"></div>
  <div class="row">
    <div class="col-md-4 mb-3" style="width: 25rem" *ngFor="let content of latestContents">
      <a (click)="selectedContent = content" class="category-link">
      <div class="card category-box rounded-corners img-hover-effect">
        <img class="card-img-top" src="{{ content.imageUrl }}" alt="{{ content.name }}" />
        <div class="card-body">
          <h5 class="card-title">{{ content.name }}</h5>
          <p class="card-text">{{ content.description }}</p>
          <small>Posted on: {{ content.createdDate | date }}</small>
          <br>
          {{getTotalVotes(content.contentVotes)}}
          # of Votes <br>
          <br>
          <span (click)="updateVote(content.id, true)">&emsp;&#8679;</span>
          <span (click)="updateVote(content.id, false)">&emsp;&#8681;</span>
        </div>
      </div>
    </a>
    </div>
  </div>
</body>
  </html>




