
<div id="editComment" class="edit-comment-div" *ngIf="data.editComment">
  <form class="row g-3">
    <div class="form-group">
      <label for="message">Edit Comment</label>
      <textarea class="form-control" rows="5" name="message" [(ngModel)]="data.editComment.message"></textarea>
    </div>
       <button class="btn btn-primary edit-comment" (click)="updateComment(data.selectedContent.id, data.editComment.id, data.editComment); data.editComment = null;">
      Edit Comment
    </button>
  </form>
  <br><br><br>
</div>
