 /* Basic reset for styling */
 *, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}


.banner {
  background: url('https://bnetproduct-a.akamaihd.net//fe1/b249be79be015e5d0115db6fe2a86193-bg-full.jpg');
  background-size: cover;
  background-position: center calc(50% + 125px);
  color: white;
  padding: 150px 0;
}

.forum-header {
  background-color: #333;
  color: white;
  padding: 20px;
}

#banner-logo {
float: right;

}

.content {
  padding: 20px;
  background-color: #f5f5f5;
}
