<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>WoW Content Creator</title>

</head>
<body>



<section class="banner">
  <img src="https://i.ibb.co/WvNm6j8/Wo-W-Content-Creator-3-6-2024.png" id="banner-logo" alt="WoW Content Creator Logo">
</section>

<div class="forum-header">
<a class="content-link" [routerLink]="['/top']"><h3>Top Content</h3></a> <a class="content-link" [routerLink]="['/latest']"><h3>Latest Content</h3></a> <a class="content-link" [routerLink]="['/content']"><h3>Create Content</h3></a><hr>
</div>

<div class="content">
  <div class="categories-container">
    <div *ngFor="let category of allContentCategories">
      <a [routerLink]="['/content', category.name]" class="category-link">
        <div class="category-box rounded-corners img-hover-effect">
          <h2>{{ category.name }}</h2>
          <img src="{{ category.imageUrl }}" class="rounded-corners img-hover-effect" alt="{{ category.name }}">
          <p>{{ category.description }}</p>
        </div>
      </a>
    </div>
  </div>
</div>



















</body>
</html>


