<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>WoW Content Creator</title>

</head>
<body>



<section class="banner">
  <img src="https://i.ibb.co/WvNm6j8/Wo-W-Content-Creator-3-6-2024.png" id="banner-logo" alt="WoW Content Creator Logo">
</section>

<div class="forum-header">
  <a href=""><h4>Categories</h4></a> <a href=""><h4>Top Content</h4></a> <a href=""><h4>Latest Posts</h4></a><hr>
</div>

<div class="content">
  <div class="categories-container">
    <!-- Iterate over each category -->
    <div class="category-box rounded-corners img-hover-effect" *ngFor="let category of allContentCategories">
      <h2>{{ category.name }}</h2>
      <ul>
        <li>

          <img src="{{ category.imageUrl }}" class="rounded-corners img-hover-effect" alt="{{ category.name }}">

          <p>{{ category.description }}</p>
        </li>
        <!-- ... other links if necessary ... -->
      </ul>
    </div>
  </div>
</div>


















</body>
</html>


