<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>WoW Content Creator</title>

</head>
<body>



<section class="banner">
  <img src="https://i.ibb.co/WvNm6j8/Wo-W-Content-Creator-3-6-2024.png" id="banner-logo" alt="WoW Content Creator Logo" border="0">
</section>

<div class="forum-header">
  <a href=""><h4>Categories</h4></a> <a href=""><h4>Top Content</h4></a> <a href=""><h4>Latest Posts</h4></a><hr>
</div>

<div class="content">
  <div class="categories-container">
    <div class="category-box">
      <h2>Community</h2>
      <ul>
        <li><a href="/general-discussion">General Discussion</a></li>
        <li><a href="/oceanic-general">Oceanic General Discussion</a></li>
        <!-- ... other links ... -->
      </ul>
    </div>
    <div class="category-box">
      <h2>WoW Classic</h2>
      <ul>
        <li><a href="/wow-classic-general">WoW Classic General Discussion</a></li>
        <!-- ... other links ... -->
      </ul>
    </div>
    <!-- ... other category boxes ... -->
  </div>












</div>

</body>
</html>


