 /* Basic reset for styling */
 *, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #ccc;
  margin: 0;
  padding: 0;
}


.banner {
  background: url('https://bnetproduct-a.akamaihd.net//fe1/b249be79be015e5d0115db6fe2a86193-bg-full.jpg') no-repeat center calc(50% + 125px);
  background-size: cover;
  display: flex; /* Use flexbox for layout */
  justify-content: flex-end; /* Align children to the right */
  align-items: center; /* Center children vertically */
  padding: 150px 0;
  color: white;
}

.forum-header {
  background-color: #333;
  color: white;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 100%; /* Add this line to ensure full width */
}

.forum-header h4 {
  color: white; /* White text for the headers */
  margin: 0 10px; /* Add horizontal spacing */
}

.forum-header a {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* The links will inherit the white color from the h4 elements */
}

.forum-header hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)); /* Faded line */
}

#banner-logo {
  /* float: right; Remove this line */
  max-width: 100%; /* Ensure the image is responsive and fits its container */
  height: auto; /* Maintain the aspect ratio of the image */
}

.content {
  padding: 20px;
  background-color: #202020;
}

.content h3 {
    color: white; /* White text for the main content */
  }

  .categories-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the space between boxes as needed */
    background-color: #333; /* Dark background */
    justify-content: space-between;
  }

  .category-box {
    flex: 0 0 calc(50% - 20px);
    min-width: 250px; /* Minimum width of each category box */
   max-width: 450px;
    background-color: #1a1a1a; /* Slightly darker boxes for contrast */
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    color: white; /* Text color */
    box-sizing: border-box;
  }

  .category-box h2 {
    border-bottom: 1px solid #555; /* Subtle line under the title */
    padding-bottom: 10px;
    margin-bottom: 20px; /* Space between title and links */
  }

  .category-box ul {
    list-style: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
  }

  .category-box li {
    padding: 5px 0; /* Space between links */
  }

  .category-box a {
    color: #c9a941; /* Adjust link color as needed */
    text-decoration: none; /* Remove underline */
    /* Style for icons could be added here */
  }

  .category-link {
    display: block; /* This will ensure the anchor tag behaves like a block-level element */
    text-decoration: none; /* This will remove the underline from the link */
    color: inherit; /* This ensures that the link color is the same as your text color */
  }

  .category-box a:hover {
    text-decoration: underline; /* Underline on hover */
  }

  .rounded-corners {
    border-radius: 10px; /* Adjust the pixel value to increase or decrease the rounding */
  }


  .img-hover-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for the transform and shadow */
  }

  .img-hover-effect:hover {
    transform: scale(1.01); /* Slightly increase the size */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6); /* White glow around the image */
  }
