.content {
  padding: 20px;
  background-color: #202020;
}

.content h3 {
  color: white; /* White text for the main content */
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the space between boxes as needed */
  background-color: #333; /* Dark background */
  justify-content: space-between;
  color: white;
}

.selected-content-img-size {
  width: 75%;
  height: 75%;
}
