<div id="image-container" class="container">
  <br /><br />
  <div class="row" *ngIf="!selectedContent && !editComment && !editContent">
    <div class="col-md-4 mb-3" style="width: 18rem" *ngFor="let content of allContent | contentCategory : categoryName">
      <div class="card">
        <img class="card-img-top" src="{{ content.imageUrl }}" alt="{{ content.name }}" />
        <div class="card-body">
          <h5 class="card-title">{{ content.name }}</h5>
          <p class="card-text">{{ content.description }}</p>
          <br>
          {{getTotalVotes(content.contentVotes)}}
          # of Votes <br>
          <br>
          <small>Posted on: {{ content.createdDate | date }}</small>
          <button class="btn btn-primary" (click)="selectedContent = content">
            Content Details
          </button>
          <span (click)="updateVote(content.id, true)">&emsp;&#8679;</span>
          <!-- Figure out how to add a vote if a user hasn't already voted, and update vote if they have -->
          <span (click)="updateVote(content.id, false)">&emsp;&#8681;</span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedContent && !editContent">
    <div class="content">
      <div class="content-container">
        <img src="{{ selectedContent.imageUrl }}" class="rounded-corners img-hover-effect selected-content-img-size"
          alt="{{ selectedContent.name }}" />
        <h2>{{ selectedContent.name }}</h2>
        <p>{{ selectedContent.description }}</p>
        <p>{{ selectedContent.contentCategory.name }}</p>
        <br>
      </div>
    </div>
    <br />
    <button class="btn btn-primary" (click)="selectedContent = null">
      Go Back
    </button>
    <button class="btn btn-primary" *ngIf="loggedInUser && selectedContent.user.id === loggedInUser.id"
      (click)="editContent = selectedContent">
      Edit Content
    </button>
    <button class="btn btn-danger" *ngIf="loggedInUser && selectedContent.user.id === loggedInUser.id"
      (click)="deleteContent(selectedContent.id); selectedContent = null">
      Delete Content
    </button>
    <hr>
  </div>

  <div id="newContent" *ngIf="!selectedContent && !editContent && isLoggedIn() &&!editComment">
    <form class="row g-3">
      <div class="col-md-6">
        <label for="name">Title</label>
        <input class="form-control" type="text" name="name" [(ngModel)]="newContent.name" />
      </div>
      <div class="col-md-6">
        <label for="category">Category</label>
        <select class="form-control" name="category" [(ngModel)]="newContent.contentCategory.id">
          <option *ngFor="let category of allContentCategories" name="category" value="{{ category.id }}">
            {{ category.name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="5" name="description" [(ngModel)]="newContent.description"></textarea>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input class="form-control" type="text" name="imageUrl" [(ngModel)]="newContent.imageUrl" />
      </div>
      <br />
      <button class="btn btn-primary" (click)="createContent(newContent)">
        Create
      </button>
    </form>
    <br /><br /><br />
  </div>

  <div id="editContent" *ngIf="editContent">
    <form class="row g-3">
      <div class="col-md-6">
        <label for="name">Title</label>
        <input class="form-control" type="text" name="name" [(ngModel)]="editContent.name" />
      </div>
      <div class="col-md-6">
        <label for="category">Category</label>
        <select class="form-control" name="category" [(ngModel)]="editContent.contentCategory.id">
          <option *ngFor="let category of allContentCategories" name="category" value="{{ category.id }}">
            {{ category.name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="5" name="description" [(ngModel)]="editContent.description"></textarea>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input class="form-control" type="text" name="imageUrl" [(ngModel)]="editContent.imageUrl" />
      </div>
      <br />
      <button class="btn btn-primary" (click)="updateContent(editContent)">
        Update
      </button>
    </form>
  </div>

  <div id="newComment" *ngIf="!editComment && isLoggedIn() && selectedContent">
    <form class="row g-3">
      <div class="form-group">
        <label for="message">Message</label>
        <textarea class="form-control" rows="5" name="message" [(ngModel)]="newComment.message"></textarea>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input class="form-control" type="text" name="imageUrl" [(ngModel)]="newComment.imageUrl" />
      </div>
      <br>
      <button class="btn btn-primary" (click)="addComment(selectedContent.id, newComment)">
        Add Comment
      </button>
    </form>
    <hr>
  </div>

  <div class="displayComment" *ngIf="allComments != null && selectedContent">
    <div class="content" *ngFor="let comment of allComments">
      <div class="content-container">
        <h2>{{ comment.user.username }}</h2>
        <p>{{ comment.message }}</p>
        <p>{{ comment.updatedDate | date }}</p>
        <img src="{{ comment.user.avatarUrl }}" class="rounded-corners img-hover-effect selected-content-img-size"
          alt="{{ selectedContent.name }}" />
      </div>
      <button class="btn btn-primary" (click)=" setEditComment(comment); openCommentDialog('500ms', '500ms');">Update
        Comment</button>
      <button class="btn btn-danger" *ngIf="loggedInUser && selectedContent.user.id === loggedInUser.id"
        (click)="deleteComment(selectedContent.id, comment.id)">
        Delete Comment
      </button>
    </div>
    <hr />
  </div>
</div>
