<div class="container">
  <table class="table table-striped table-hover table-dark" *ngIf="!selectedContent">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let content of allContent | contentCategory:categoryName" >
        <td>{{content.name}}</td>
        <td>{{content.contentCategory.name}}</td>
        <td><button class="btn btn-primary" (click)="selectedContent = content;">Content Details</button></td>
        <td><button class="btn btn-primary" *ngIf="loggedInUser && content.user.id === loggedInUser.id" (click)="editContent = content">Edit Content</button></td>
        <td><button class="btn btn-danger" *ngIf="loggedInUser && content.user.id === loggedInUser.id" (click)="deleteContent(content.id)">Delete Content</button></td>
      </tr>
    </tbody>
  </table>

  <div id="newContent" *ngIf="!editContent && isLoggedIn()">
    <form class="row g-3">
      <div class="col-md-6">
        <label for="name">Title</label>
        <input class="form-control" type="text" name="name" [(ngModel)]="newContent.name">
      </div>
      <div class="col-md-6">
        <label for="category">Category</label>
        <select class="form-control" name="category" [(ngModel)]="newContent.contentCategory.id">
          <option *ngFor="let category of allContentCategories" name="category" value="{{category.id}}">{{category.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="5" name="description" [(ngModel)]="newContent.description"></textarea>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input class="form-control" type="text" name="imageUrl" [(ngModel)]="newContent.imageUrl">
      </div>
      <br>
      <button class="btn btn-primary" (click)="createContent(newContent)">Create</button>
    </form>
  </div>

  <div id="editContent" *ngIf="editContent">
    <form class="row g-3">
      <div class="col-md-6">
        <label for="name">Title</label>
        <input class="form-control" type="text" name="name" [(ngModel)]="editContent.name">
      </div>
      <div class="col-md-6">
        <label for="category">Category</label>
        <select class="form-control" name="category" [(ngModel)]="editContent.contentCategory.id">
          <option *ngFor="let category of allContentCategories" name="category" value="{{category.id}}">{{category.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="5" name="description" [(ngModel)]="editContent.description"></textarea>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input class="form-control" type="text" name="imageUrl" [(ngModel)]="editContent.imageUrl">
      </div>
      <br>
      <button class="btn btn-primary" (click)="updateContent(editContent)">Update</button>
    </form>
  </div>

  <div *ngIf="selectedContent">
    <div class="content">
      <div class="categories-container">
          <div class="category-box rounded-corners img-hover-effect">
            <img src="{{ selectedContent.imageUrl }}" class="rounded-corners img-hover-effect" alt="{{ selectedContent.name }}">
            <h2>{{ selectedContent.name }}</h2>
            <p>{{ selectedContent.description }}</p>
            <p>{{ selectedContent.contentCategory.name }}</p>
          </div>
      </div>
    </div>
    <button class="btn btn-primary" (click)="selectedContent = null;">Go Back</button>
    <button class="btn btn-primary" *ngIf="loggedInUser && selectedContent.user.id === loggedInUser.id" (click)="editContent = selectedContent">Edit Content</button>
    <button class="btn btn-danger" *ngIf="loggedInUser && selectedContent.user.id === loggedInUser.id" (click)="deleteContent(selectedContent.id)">Delete Content</button>
  </div>


<div class="displayComment" *ngIf="allComments != null && isLoggedIn() && selectedContent">
  <ul *ngFor="let comment of allComments">
    <li>{{comment.content.name}}</li>
    <li>{{comment.updatedDate}}</li>
    <li>{{comment.commentDate}}</li>
    <li>{{comment.message}}</li>
    <li>{{comment.description}}</li>
    <li>{{comment.imageUrl}}</li>
    <li>{{comment.replyToId}}</li>
  </ul>
    <div id="newComment" *ngIf="!editComment && isLoggedIn()">
      <form class="row g-3">
        <div class="col-md-6">
          <label for="name">Message</label>
          <input class="form-control" type="text" name="name" [(ngModel)]="newComment.message">
        </div>
        <div class="col-md-6">
          <label for="name">Description</label>
          <input class="form-control" type="text" name="name" [(ngModel)]="newComment.description">
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="description">Comment Date</label>
            <textarea class="form-control" rows="5" type="Date" name="commentDate"
              [(ngModel)]="newComment.commentDate"></textarea>
          </div>
          <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input class="form-control" type="text" name="imageUrl" [(ngModel)]="newComment.imageUrl">
          </div>
          <br>
          <button class="btn btn-primary" (click)="addComment(newComment.content.id, newComment)">Create Comment</button>
        </div>
      </form>
    </div>
    <div id="editComment" *ngIf="editComment && isLoggedIn()">
      <form class="row g-3">
        <div class="col-md-6">
          <label for="name">Updated Message</label>
          <input class="form-control" type="text" name="name" [(ngModel)]="editComment.message">
        </div>
        <div class="col-md-6">
          <label for="name">Updated Description</label>
          <input class="form-control" type="text" name="name" [(ngModel)]="editComment.description">
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="description">Updated Comment Date</label>
            <textarea class="form-control" rows="5" type="Date" name="commentDate"
              [(ngModel)]="editComment.commentDate"></textarea>
          </div>
          <div class="form-group">
            <label for="imageUrl">Updated Image URL</label>
            <input class="form-control" type="text" name="imageUrl" [(ngModel)]="editComment.imageUrl">
          </div>
          <br>
          <button class="btn btn-primary" (click)="addComment(newComment.content.id, editComment)">Update Comment</button>
           <button class="btn btn-danger" *ngIf="loggedInUser && newComment.content.user.id === loggedInUser.id"
                      (click)="deleteComment(newComment.content.id, editComment.id)">Delete Content</button>
        </div>
      </form>
    </div>
</div>
</div>

