<header class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand nav-text" [routerLink]="['/home']">Home</a>
    <button class="navbar-toggler" type="button" (click)="toggleCollapse()" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link nav-text" [routerLink]="['/content']" routerLinkActive="active">Top Content</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text" [routerLink]="['/posts']" routerLinkActive="active">Posts</a>
        </li>



        <li *ngIf="isLoggedIn()" class="nav-item">
          <button class="btn btn-danger" (click)="logout()">Logout</button>
        </li><br>


        <li *ngIf="!isLoggedIn()" class="nav-item">
          <a class="nav-link" (click)="openLoginModal()" href="#">Login</a>
        </li>
        <li *ngIf="!isLoggedIn()" class="nav-item">
          <a class="nav-link" (click)="openRegisterModal()" href="#">Register</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</header>
