



    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Login</h5>

      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3 text-center">
            <label for="usernameLoginModal" class="form-label">User Name</label>
            <input type="text" class="form-control" id="usernameLoginModal" name="username" placeholder="Username" [(ngModel)]="loginUser.username">
          </div>

          <div class="mb-3 text-center">
            <label for="passwordLoginModal" class="form-label">Password</label>
            <input type="password" class="form-control" id="passwordLoginModal" name="password" placeholder="Password" [(ngModel)]="loginUser.password">
          </div>

          <div class="mb-3 d-grid gap-2">
            <button (click)="login(loginUser)" type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>





